@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap");

.titre {
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
}
.titre_line {
  position: static;
  display: inline-block;
  height: 2px;
  width: 60px;
  background-color: #4830e6;
}

.titre .MuiTypography-h2 {
  margin-left: 10px;
  color: #504f4f;
  font-size: 1.2rem;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

@media (min-width: 600px) {
  .titre .MuiTypography-h2 {
    font-size: 1.5rem;
    transition: 350ms;
  }
}

@media (min-width: 991px) {
  .titre {
    margin-top: 120px;
  }
}

@media (min-width: 1200px) {
  .titre {
    margin-top: 180px;
  }

  .titre .MuiTypography-h2 {
    font-size: 2rem;
  }
}
