.body {
  padding: 0 15px 15px;
}

.body_title .MuiTypography-h1 {
  color: #504f4f;
  transition: 350ms;
  font-size: 1.7rem;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}
.body_letf .MuiTypography-h5 {
  color: #504f4f;
  transition: 350ms;
  margin-top: 25px;
  font-size: 1.1rem;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 30px;
}

.body_letf a {
  color: #504f4f;
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
}

.div-image {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.div-image img {
  object-fit: cover;
  height: 400px;
  transition: all 0.3s ease-in-out;
}

.social {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.social a {
  color: #504f4f;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
}
.linkeding:hover {
  color: #0073b1;
}
.facebook:hover {
  color: #129cf7;
}

@media (min-width: 780px) {
  .div-image img {
    height: 454px;
    transition: all 0.3s ease-in-out;
  }

  .social a {
    padding: 20px;
  }
  .body_letf {
    width: 720px;
  }

  .body_title .MuiTypography-h1 {
    font-size: 2.2rem;
  }
  .body_letf .MuiTypography-h5 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1000px) {
  .body {
    display: flex;
    justify-content: space-evenly;
  }
  .social {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -50px;
  }
  .social a {
    transform: rotate(90deg);
    font-size: 1.3rem;
  }

  .body_letf {
    order: 2;
    max-width: 650px;
  }
  .div-image {
    order: 3;
  }

  .right {
    order: 4;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 340px;
    height: 650px;
    background-color: rgba(141, 141, 141, 0.274);
    transition: 550ms;
  }
}
